button {
    margin: 0 30px;
    border-radius: 20px;
    border: 1px solid #717070;
    background-color: #717070;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}